<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.springframework.org/security/tags">
<div th:replace="fragments/head"></div>
<body>
<div th:replace="fragments/navbar"></div>
<div th:replace="fragments/category"></div>

<div class="content container">
    <div th:if = "${not #lists.isEmpty(products)}">
        <table class="table table-hover">
            <tr th:each="prod : ${products}">
                <td ><img th:src="${'data:image/jpeg;base64, ' + prod.image}" width="100" height="100"/></td>
                <td th:text = "${prod.name}"></td>
                <td th:text = "${'Ocena: ' + prod.rate}"></td>
                <td th:text = "${'Cena: ' + prod.price}"></td>
                <td th:text="${'Rozmiar: ' + prod.size}"></td>
                <td><a th:href="${'/details/'+prod.id}">Szczegóły</a></td>
            </tr>
        </table>
    </div>
    <div th:if = "${#lists.isEmpty(products) && success == null}">
        <p>Brak produktów w koszyku</p>
    </div>
    <div th:if = "${success != null}">
        <p>Zamówienie zostało poprawnie dodane do realizacji</p>
    </div>
    <a sec:authorize="isAuthenticated()" th:if="${!#lists.isEmpty(products)}" href="/acceptOrder" class="form-control but" role="button">Zrealizuj zamówienie</a>
</div>
</body>
</html>