<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="fragments/head"></div>
<body>
<div th:replace="fragments/navbar"></div>
<div th:replace="fragments/category"></div>
<div class="content container">
    <h3>Raport zysku dla produktu</h3>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Liczba sprzedanych sztuk</th>
            <th>Zysk</th>
        </tr>
        <tr th:each="u : ${product}">
            <td th:text="${product.productId}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.soldCount}"></td>
            <td th:text="${product.profit}"></td>
        </tr>
    </table>
</div>
</body>
</html>