<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head"></div>
<body>
<div th:replace="fragments/navbar"></div>
<div th:replace="fragments/category"></div>
<div class="content container">
    <form id="select" class="log" method="post" action="/">
        <input type="submit" class="form-control but" value="Raport dla produktu" style="width: 200px"
               onclick="document.getElementById('select').action='report?type=product';">
        <input type="submit" class="form-control but" value="Raport zbiorczy" style="width: 200px"
               onclick="document.getElementById('select').action='report?type=general';">
    </form>
</div>
</body>
</html>